footer {
    margin-top: 25px;
}
.img-center {
    display: block;
    margin:0 auto;
}
.form-group {
    margin: 10px 0;
}
input[type="file"]{
    margin: 10px 0;
}
button[type="submit"]{
    margin-top: 10px;
}
textarea {
    resize: none;
}